body {
  width: 80%;
  margin: 0 auto;
  font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.4;
}

#header {
  border-bottom: 1px solid #111;
  padding: 10px;
}

nav > ul > li > a {
  font-size: 20px;
  font-weight: bold;
}

body > h1 {
  font-size: 40px;
  background: #ddd;
  padding: 5px;
  margin-top: 100px;
}

pre {
  font-size: 12px;
  display: block;
  padding: 14px;
  line-height: 16px;
  border: 1px solid #d9d9d9;
  white-space: pre-wrap;
  word-wrap: break-word;
}

code {
  background-color: #fee9cc;
  color: #111;
  padding: 1px 3px;
  font-size: 14px;
}

pre code {
  background: #fff;
  padding: 0;
}

blockquote {
  padding: 13px 13px 21px 15px;
  margin-bottom: 18px;
  font-family:georgia,serif;
  font-style: italic;
}

blockquote:before {
  content:"\201C";
  font-size:40px;
  margin-left:-10px;
  font-family:georgia,serif;
  color:#eee;
}
blockquote p {
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  margin-bottom: 0;
  font-style: italic;
}

a {
  color: #0069d6;
}
a:hover {
  color: #0050a3;
  text-decoration: none;
}
